body {
    margin: 0;
    padding: 0;
    background-image: url(https://images.pexels.com/photos/571169/pexels-photo-571169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 140px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
}

nav ul {
    padding: 10px;
}

.maindiv {
    height: 50%;
    width: 50%;
    border: 8px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
}